
<%= form_for(@car_profile) do |f| %>
  <% if @car_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_profile.errors.count, "error") %> prohibited this car_profile from being saved:</h2>

      <ul>
      <% @car_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= collection_select(:car_profile, :make, @make_names, :make_name, :make_name, {:prompt => true}, {:id => 'make_select'}) %>
    <%# collection_select(:car_profile, :make, @make_names, :to_s, :to_s, {:prompt => true}, {:id => 'make_select'}) %>
    <% if @model_names%>
        <%= collection_select(:car_profile, :model, @model_names, :to_s, :to_s, {:prompt => true}, {:id => 'model_select'}) %>
    <% end %>

  <div class="actions">
    <%= f.submit 'Create', :class => 'btn btn-default'  %>
  </div>
<% end %>

