<div class="container">

<%= form_for(@car_profile) do |f| %>
        <div class="row">
            <div class="col-md-12">
                <% if @car_profile.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@car_profile.errors.count, "error") %> prohibited this car_profile from being saved:</h2>

                    <ul>
                        <% @car_profile.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
                <% end %>
            </div>
         </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <td><%= label_tag(:make, "Name: ") %></td>
                            <td><%= f.text_field :name, autofocus: true, class: 'form-control'  %></td>
                        </tr>
                        <tr>
                            <td><%= label_tag(:make, "Make: ") %></td>
                            <td><%= collection_select(:car_profile, :make, @make_names, :make_name, :make_name, {:prompt => true}, {:id => 'make_select', class: 'form-control'}) %></td>
                        </tr>
                        <% if @model_names%>
                        <tr>
                            <td><%= label_tag(:model, "Model: ") %></td>
                            <td><%= collection_select(:car_profile, :model, @model_names, :cmodel_name, :cmodel_name, {:prompt => true}, {:id => 'model_select', class: 'form-control'}) %></td>
                        </tr>
                        <% end %>
                        <% if @years %>
                        <tr>
                            <td><%= label_tag(:year, "Year: ") %></td>
                            <td><%= collection_select(:car_profile, :year, @years, :year, :year, {:prompt => true}, {:id => 'year_select', class: 'form-control'}) %></td>
                        </tr>
                        <% end %>
                        <% if @engine_codes %>
                        <tr>
                            <td><%= label_tag(:engine_code, "Engine Code: ") %></td>
                            <td><%= collection_select(:car_profile, :engine_code, @engine_codes, :engine_code, :engine_code, {:prompt => true}, {:id => 'engine_code_select', class: 'form-control'}) %></td>
                        </tr>
                        <% end %>
                        <tr><td class="text-center" colspan="2"> <%= f.submit 'Save', :class => 'btn btn-default'  %></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>

<% end %>
</div>

