<% provide(:title, 'Edit Car Profile') %>
<div class="container-fluid regular-background">
    <!-- new user -->
    <%= render 'layouts/flash_messages' %>
    <div class="row">
        <div class="panel panel-default remove-padding">
            <div class="panel-heading text-center"><h1>Edit Car Profile</h1></div>
            <div class="panel-body">
                <%= render 'car_profiles/form' %>
                <%= link_to 'Show', @car_profile %> |
                <%= link_to 'Back', user_path(current_user) %>
            </div>
        </div>
    </div>
</div>

<%= render 'loadmakemodelyear' %>