<div class="header">
<nav class="navbar navbar-default  navbar-static-top navbar-carmante">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Carmanate</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li <%= 'class="active"' if @active == 'home'  %>><a href="/">Home</a></li>
                <li <%= 'class="active"' if @active == 'about' %>><a href="/about">About</a></li>

                <% if signed_in? %>
                    <li>
                        <%= link_to(current_user.name) do %>
                            <span>Hello: </span> <strong><%= current_user.name %></strong>
                        <% end %>
                    </li>
                    <li><%= link_to "Sign Out", signout_path, method: 'delete' %></li>
                <% else %>
                    <li><%= link_to "Sign Up", signup_path %></li>
                    <li><%= link_to "Sign In", signin_path %></li>
                <% end %>

            </ul>
        </div>
    </div>
</nav>
<% if signed_in? %>
<nav class="navbar-carmante navbar-lower text-center">
    <ul class="nav nav-pills center-pills">
        <li><%= link_to "Create Car Profile", new_car_profile_path(current_user), {class: 'nav-pills-top' }%></li>
        <li><%= link_to "Car Profiles", user_path(current_user), {class: 'nav-pills-top' } %></li>
        <li><%= link_to "Account Info", edit_user_path(current_user), {class: 'nav-pills-top' } %></li>
    </ul>
</nav><div class="clearfix"></div>
<% end %>
</div>